@charset "utf-8";
/*
Corporate Site Style Sheet
Author: GRADUS;
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

- Base
- Layout
- Typo
- Contents Title
- Button Style
- Header
- Background
- Oblique Background
- Eyecatch Area
- About Area
- Services Area
- Company Area
- Contact Form Area
- Page Top
- Footer
- Privacy Policy

*/

/* Base
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-wrap: break-word;
}
html {
	font-size: 62.5%;
}
body {
	color:#5b5b5b;
	font-size: 1.6rem;
	font-family: 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Avenir,sans-serif;
	smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	line-height: 1.6;
	background-color: #f7f7f9;
}
h2 { margin: 0; }
ul,ol {
	list-style:none;
	margin: 0;
	padding: 0;
}
dl,dt,dd {
	margin: 0;
}
object {
	pointer-events: none;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 1.4rem;
		line-height: 1.4;
	}
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Common */
.l-container {
	width: 100%;
}
.l-content {
	padding-bottom: 60px;
}
.l-content-inner {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}
/* Flex Box */
.l-flex-2col {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
    max-width: 1200px;
    margin: 2em auto;
}
.flex-rev {
	flex-direction: row-reverse;
}
.l-flex2col-item {
	display: -ms-flexbox;
	display: flex;
	width: 50%;
	-ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
	.l-flex-2col {
		display: block;
	}
	.l-flex2col-item {
		width: 100%;
	}
}

/* Typo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Font Color */
.txt_rev_color { color: #fff; }

/* Contens Title
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Contents Title (h2タグ) */
.content-ttl {
	margin: 1em 0;
	font-size: 5rem;
    font-style: italic;
    font-family: arial;
    font-weight: normal;
    letter-spacing: 5px;
    text-align: center;
}
.content-ttl span {
	display: block;
	font-size: 1.4rem;
	font-weight: bold;
}
.content-ttl span::after {
	display: block;
	content: "";
    width: 60px;
    height: 4px;
    margin: 4px auto 0;
    background: #5b5b5b;
}

.content-ttl.txt_rev_color span::after { background: #5b5b5b; }

@media screen and (max-width: 768px) {
	.content-ttl {
		font-size: 4rem;
	}
}

@media screen and (max-width: 600px) {
	.content-ttl {
		font-size: 3.2rem;
		font-weight: bold;
	}
	.content-ttl span {
		font-size: 1.2rem;
	}
	.content-ttl span::after {
		height: 2px;
	}
}

/* Button Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Button Layout */
.btn-container {
	margin: 2em auto 0;
	text-align: center;
}
.btn-primary {
	display: inline-block;
	padding: 0.8em 3em;
	border: 2px solid #fff;
	background:#ffab24;
	color: #fff;
	font-size: 1.8rem;
	text-decoration: none;
	border-radius: 40px;
	transition-property: all;
  	transition: 0.2s linear;
}
#services .btn-primary {
	border-color: #ffab24;
}
.btn-primary:hover {
	border:2px solid #333;
	background:#de4b6d;
}

@media screen and (max-width: 600px) {
	.btn-primary {
		font-size: 1.6rem;
	}
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.l-header {
	position: absolute;
	top: 0;
	width: 100%;
	padding: 0;
    overflow: hidden;
    z-index: 100;
}
.header-content {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
    max-width: 1680px;
    padding: 0 7.142857%;
    margin: 0 auto;
    -ms-flex-pack: justify;
    justify-content: space-between;
    box-sizing: border-box;
}
.header-logo {
	margin-bottom: 0;
}
/* Menu */
.header-menu {
	margin: 40px 0 0;
    z-index: 2;
}
.header-menu ul {
	display: -ms-flexbox;
	display: flex;
}
.header-menu-item {
	margin-left: 32px;
	text-decoration: none;
}
.header-menu-item:first-child {
	margin-left: 0;
}
.header-menu-item a {
	color:#5b5b5b;
	font-size: 1.4rem;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
	transition-property: all;
  	transition: 0.2s linear;
}
.header-menu-item a::after {
	display: block;
	content: "";
	width: 30px;
	height: 3px;
	margin: auto;
	background:#de4b6d;
	opacity: 0;
	transition-property: all;
  	transition: 0.2s linear;
}
.header-menu-item a:hover {
	color:#de4b6d;
}
.header-menu-item a:hover::after {
	opacity: 1;
}
.drawer-toggle.drawer-hamburger {
	display: none;
}
nav.header-menu.drawer-nav {
    position: static;
    background: none;
    width: auto;
}

@media screen and (max-width: 768px) {
	.header-content {
		display: block;
		width: 90%;
		padding: 0;
	}
	.l-header {
		padding: 0;
		height: 100%;
	}
	.header-logo object,
	.header-logo img {
		width: 160px;
	}
	.drawer-toggle.drawer-hamburger {
		position: absolute;
		display: block;
		width: 2.8rem;
		margin: 0.67em 0;
		right: 1em !important;
	}
	.drawer--right.drawer-open .drawer-hamburger {
	    right: 16.25rem !important;
	}
	nav.header-menu.drawer-nav {
		position: fixed;
		width: 16.25rem;
		margin-top: 0;
		background: #f7f7f9;
	}
	.header-menu {
		height: 100%;
	}
	.header-menu ul {
		display: block;
	}
	.header-menu-item {
		margin: 0;
		padding: 2em;
		text-align: center;
	}
	.drawer-hamburger-icon,
	.drawer-hamburger-icon::after,
	.drawer-hamburger-icon::before {
		background-color: #5b5b5b !important;
	}
	.drawer-open .drawer-hamburger-icon {
		background-color: transparent !important;
	}
}

/* Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Color */
.bg-color { background-color: #ffab24; }

/* Pattern */
.bg-geometoric {
	background: url('../images/pt_geometric.png?20160812') repeat #ffab24;
}

/* Oblique Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bg-oblique {
	height: 0;
    position: relative;
}
.bg-oblique-inner {
	position: absolute;
    bottom: 0;
    height: 1000px;
    width: 100%;
    overflow: hidden;
}
.bg-oblique-inner::before {
	content: '';
    position: absolute;
    left: -10%;
    right: -10%;
    bottom: -1000px;
    height: 1000px;
    transform-origin: 0 0;
    transform: rotate(-11deg);
}
/* BG Color */
#about .bg-oblique-inner::before,
#company .bg-oblique-inner::before { background-color: #ffab24; }
#company .bg-oblique-inner { z-index: -1; }/*Company Area*/

/* h2のポジション調整 */
.bg-oblique+.l-content-inner {
	position: relative;
}
.bg-oblique+.l-content-inner .content-ttl {
	position: absolute;
	top: -180px;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
  	transform: translateY(-50%) translateX(-50%);
}

@media screen and (max-width: 600px) {
	.bg-oblique-inner::before {
		content: none;
	}
	.bg-oblique+.l-content-inner .content-ttl {
		position: static;
		margin-top: 0;
		padding-top: 1em;
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

/* Eyecatch Area
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.l-eyecatch {
	width: 100vw;
}

/* Eyecatch */
.l-eyecatch-inner {
	display: -webkit-box;
	display:  -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100vw;
	height: auto;
	min-height: 90vh;
	background-image: url('../images/eyecatch.png');
	background-size: cover;
  	background-position: center;
}

/* Catch-copy Area */
.copy-container {
	margin-top: -130px;
	text-align: center;
	color: #fff;
	background: rgba(222,75,109,0.8);
	background: -webkit-linear-gradient(left, rgba(222,75,109,0.8),rgba(255,171,36,0.8));
	background: linear-gradient(right, rgba(222,75,109,0.8),rgba(255,171,36,0.8));
	border-radius: 80px 0;
	padding: 2rem;
}
.catchcopy {
	margin: 0;
}
.leadcopy {
	font-size: 1.8rem;
	font-weight: normal;
	margin-bottom: 32px;
}
.catchcopy,
.leadcopy {
	word-break: keep-all;
}

@media screen and (max-width: 600px) {
	.copy-container {
		width: 90%;
		margin-top: 0;
	}
	.catchcopy img {
		width: 100%;
	}
	.leadcopy {
		font-size: 1.4rem;
		line-height: 1.4;
	}
}

@media screen and (max-width: 764px) {
	.catchcopy object,
	.catchcopy img {
		width: 100%;
	}
}

/* About Area
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Contents text */
.content-txt {
	max-width: 760px;
	margin: 0 auto 1em;
	text-align: center;
	line-height: 1.9;
}

#about .content-ttl{
	color:#5b5b5b;
}

/* Services Area
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.services-img {}
.services-img img {
	width: 100%;
	height: 100%;
}
.services-info {
	color: #fff;
	padding: 6%;
}
.services-ttl {
	margin: 0 auto;
	font-size: 3.6rem;
	font-weight: normal;
	text-align: center;
}
.services-txt {
	line-height: 1.9;
}
/* 美キュッとスリム商品 list */
.l-product-list {
	width: 100%;
	max-width: 746px;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}
.l-product-list a{
	padding: 3%;
	color: #5b5b5b;
	text-decoration: none;
	transition-property: all;
  	transition: 0.2s linear;
}
.l-product-list a:hover {
	background: #f9f9f9;
}
.l-product-list-inner {
	display: -webkit-box;
	display:  -ms-flexbox;
	display: flex;
}
.product-img {}
.product-img img {
	width: 100%;
}
.product-info {
	padding-left: 3%;
}
.product-ttl {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 2rem;
}
@media screen and (max-width: 600px) {
	.services-ttl {
		font-size: 3.2rem;
	}
	.product-ttl {
		font-size: 1.6rem;
		margin-bottom: 4px;
	}
	.product-txt {
		line-height: 1.6;
	}
}

/* Other Services Area
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Title */
.services-ttl_other {
	color:#ffab24;
	font-size: 3.6rem;
	font-family: arial;
	font-weight: normal;
	text-align: center;
	letter-spacing: 1px;
}
/* App List */
.app-list {
	display: -ms-flexbox;
	display: flex;
	width: 100%;
    max-width: 1200px;
}
.app-list-item {
	width: 25%;
	margin: 1%;
	background: #fff;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    transition-property: all;
  	transition: 0.2s linear;
}
.app-list-item a {
	display: block;
	padding: 6%;
	color: #5b5b5b;
	text-decoration: none;
	text-align: center;
}
.app-list-item a:hover {
	background: #f9f9f9;
}
.app-ttl {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.3;
}
.app-img img {
	width: 100%;
}
@media screen and (max-width: 768px) {
	.app-list {
		flex-wrap: wrap;
	}
	.app-list-item {
		width: 100%;
    	max-width: 746px;
	}
	.app-list-item a {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    padding: 3%;
		text-align: left;
	}
	.app-info {
		padding-left: 3%;
	}
	.app-txt {
		line-height: 1.6;
	}
}
@media screen and (max-width: 764px) {
	.app-img img {
		width: 160px;
	}
}
@media screen and (max-width: 600px) {
	.services-ttl_other {
		font-size: 2rem;
	}
	.app-ttl {
		font-size: 1.6rem;
		margin-bottom: 4px;
	}
	.app-img img {
		width: 100px;
	}
}

/* Company Area
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#company {
	margin-top: 17%;
}
/* Table */
.company-info {
	width: 100%;
	max-width: 746px;
	margin: auto;
}
.company-info th,
.company-info td {
	padding: 1em;
	background: rgba(249, 252, 253, 0.46);
	border: 3px solid #ffab24;
}

@media screen and (max-width: 768px) {
	#company {
		margin-top: 30%;
	}
}
@media screen and (max-width: 600px) {
	#company {
		margin-top: 0;
	}
}

/* Contact Form Area
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.iframe-container {
	position: relative;
	width: 100%;
	padding-top: 114%;
	text-align: center;
}
.iframe-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1200px) {
	.iframe-container {
		padding-top: 135%;
	}
}
@media screen and (max-width: 1024px) {
	.iframe-container {
		padding-top: 180%;
	}
}
@media screen and (max-width: 768px) {
	.iframe-container {
		padding-top: 214%;
	}
}
@media screen and (max-width: 420px) {
	.iframe-container {
		padding-top: 414%;
	}
}
@media screen and (max-width: 320px) {
	.iframe-container {
		padding-top: 464%;
	}
}

/* Page Top
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.pagetop {
	position: fixed;
	bottom: 2em;
	right: 2em;
	margin: 0;
}
.pagetop a {
	position: relative;
	display: inline-block;
	width: 80px;
	height: 80px;
	background:#de4b6d;
	color: #ffffff;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	border-radius: 50%;
	line-height: 80px;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
}
.pagetop a:hover {
	opacity: .9;
}
.icon-angle-up {
	display: block;
	margin: 0 auto;
}
.icon-angle-up::before {
	content: '';
    width: 4px;
    height: 4px;
    border: 0px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -16px;
    margin-left: -3px;
}
.pagetop a:hover .icon-angle-up::before {
	animation-name: angle-up-anime;
	-webkit-animation-name: angle-up-anime;
	animation-duration: .6s;
	-webkit-animation-duration: .6s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes angle-up-anime {
	0%{
		margin-top: -16px;
	}
	50% {
		margin-top: -12px;
	}
	100% {
		margin-top: -16px;
	}
}
@keyframes angle-up-anime {
	0%{
		margin-top: -16px;
	}
	50% {
		margin-top: -12px;
	}
	100% {
		margin-top: -16px;
	}
}

@media screen and (max-width: 600px) {
	.pagetop {
		bottom: 1em;
		right: 1em;
	}
	.pagetop a {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 1rem;
	}
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.l-footer {
	margin-top: 5%;
}
.l-footer-inner {
	width: 100%;
	padding: 0 0 1em;
	background: #ffab24;
	color: #5b5b5b;
	text-align: center;
}
.copyright {
	font-size: 1.4rem;
}
/* Utility */
.utility-list a {
	color: #5b5b5b;
	font-size: 1.2rem;
}
/*Footer Area BG 斜め背景交差*/
.l-footer .bg-oblique-inner::before {
	transform: rotate(-3deg);
}
.l-footer .bg-oblique-inner::after {
	content: '';
	position: absolute;
	left: -10%;
    right: -10%;
    bottom: -740px;
    height: 830px;
    transform-origin: 0 0;
    transform: rotate(3deg);
    background: url('../images/pt_geometric.png?20160812') repeat #ffab24;
    z-index: -2;
}
.l-footer .bg-oblique-inner { z-index: -1; }
.l-footer .bg-oblique-inner::before { background-color: #ffab24; }

@media screen and (max-width: 600px) {
	.l-footer {
		margin-top: 0;
	}
	.l-footer .bg-oblique-inner::after {
		content: none;
	}
	.l-footer-inner {
		padding-top: 1em;
	}
	.copyright,
	.utility-list a {
		font-size: 1.4rem;
	}
}

/* Privacy Policy
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#privacy-policy .l-header {
	position: static;
}
#privacy-policy .l-content-inner {
	max-width: 746px;
}
#privacy-policy p {
	margin: 0 0 1em;
	font-size: 1.4rem;
	line-height: 1.6;
}
#privacy-policy h2 {
	margin-bottom: 1em;
	font-size: 3.2rem;
}
#privacy-policy h3 {
	font-size: 2rem;
	font-weight: bold;
	margin: 2em 0 0.6em;
}
#privacy-policy ul {
	list-style-type: disc;
}
#privacy-policy ol {
	list-style-type: decimal;
}
#privacy-policy li {
	font-size: 1.4rem;
	margin-left: 2rem;
	margin-bottom: 0.6rem;
	line-height: 1.6;
}
@media screen and (max-width: 600px) {
	#privacy-policy h2 {
		font-size: 2rem;
	}
	#privacy-policy h3 {
		font-size: 1.6rem;
	}
}

/* Fade Up Animation
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fade-up {
	opacity: 0;
	transform: translate(0,60px);
	-webkit-transform: translate(0,60px);
	transition: .8s;
}
.is-fade-up {
	opacity: 1;
	transform: translate(0,0);
	-webkit-transform: translate(0,0);
}

